<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Forgot</title>
</head>
<body>

    <div th:if="${message != null}">
        <p th:text="${message}"></p>
    </div>

    <div th:if="${error != null}">
        <p th:text="${error}"></p>
    </div>

    <form th:action="@{/forgotPassword}" th:method="post" style="max-width: 420px; margin: 0 auto;">

        <h2>
            We will be sending a reset password link to email written below
        </h2>

        <input type="email" th:name="email" th:placeholder="'Write here your email'">
        <br>
        <input type="submit" th:value="'Send'">

    </form>

</body>
</html>