<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Password</title>
    <style>
        *{
            text-align: center;
            width: 100%;
            margin: 5px;
        }
    </style>
</head>
<body>

<div th:if="${message != null}">
    <p th:text="${message}"></p>
</div>

<div th:if="${error != null}">
    <p th:text="${error}"></p>
</div>

<h2>
    Write below correct new password
</h2>

<form th:action="@{/passwordRecovery}" th:method="post" style="max-width: 420px; margin: 0 auto;">

    <input type="hidden" th:name="'token'" th:value="${token}">
    <label>New Password:</label>
    <input type="password" th:name="'password'" th:placeholder="'Write here your new password'" id="password">
    <br>
    <label>Write password again:</label>
    <input type="password" th:name="check" id="check">
    <p id="isPasswordCorrect"></p>
    <input type="button" value="Check and Submit" id="btn" >

</form>
<script>

    document.getElementById("btn").addEventListener("click", () => {
        if (document.getElementById("password").value === ""){
            document.getElementById("isPasswordCorrect").innerHTML="Passwords is incorrect"
            console.log("test1")
        }
        else{
            console.log(password.value)
            console.log(check.value)
            if (!(password.value === check.value)){
                console.log("test2")
                document.getElementById("isPasswordCorrect").innerHTML="Passwords are not the same"
            }
            else{
                document.getElementById("isPasswordCorrect").innerHTML=""
                let forms = document.getElementsByTagName("form")
                forms[0].submit()
            }
        }
    })

</script>
</body>
</html>